<table class = 'table table-striped table-responsive'>
  <thead>
    <th>Some Dude First Name</th>
    <th>Some Dude Last Name</th>
    <th>A Phoney Number</th>
  </thead>
  <tbody id='users'>
  </tbody>
</table>
