<h1>Add a User</h1>

<form id="new user">
  <input placeholder="First Name" name="user[first_name]" require=true>
  <input placeholder="Last Name" name="user[last_name]" require=true>
  <input placeholder="Phone" name="user[phone_number]" type: number>
  <button class="btn btn-primary" type="Submit"></button>
</form>
